
<div class="panel panel-primary">
  <div class="panel-heading">My Plans</div>
  <ul class="list-group">
    <% @user.plans.each do |plan| %>
    <li class="list-group-item"><%= link_to plan.title, user_plan_path(@user.id, plan.id) %></li>
    <% end %>
  </ul>
</div>

<%= link_to "Create New Plan", new_user_plan_path(@user) %> | 
<%= link_to "Show invites", user_votes_path(@user) %>